.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color:ghostwhite;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 110px;
    width: 100%;
    margin-top: 0px;
    height: 80%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    border-top: 1px solid darkgray;
}

.overlay .header {
    position: absolute;
    top: 60px;
    left: 15px;
    font-size: 30px;
    color: black;
}

.overlay .subheader {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    padding: 8px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}

@media screen and (max-height: 450px) {
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
